@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
	--background-color: #000505;
	--timer-elapsed-color: #9F0000;
	--font-color: #FEFCFD;
	--color-primary: #3B3355;
	--color-secondary: #5D5D81;
	--color-trim: #BFCDE0;
	--text-glow: #FEFCFD46;
}

*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--font-color);
}

body {
	font-size: 22px;
	font-family: "Montserrat";
	background-color: var(--background-color);
}

.timer-container {
	position: relative;
	display: flex;
}

.rounded-icon {
	height: 5rem;
	border-radius: 0.5rem;
}

.center-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.time {
	position: relative;
	background-color: var(--color-secondary);
	width: 5rem;
	margin-right: 1rem;
	overflow: hidden;
	text-align: center;
}

#elapsed {
	display: none;
	background-color: var(--timer-elapsed-color);
	width: 12rem;
	justify-self: center;
}

#elapsed h4 {
	font-size: 1.75rem;
}

.info-container {
	align-items: normal;
}

.info-container h3 {
	color: var(--color-secondary);
	text-transform: uppercase;
	font-size: 2.25rem;
	line-height: 1.5;
}

.info-container > h4 {
	color: var(--color-trim);
	text-transform: capitalize;
	letter-spacing: 0.25rem;
	line-height: 1;
}

.info-container p {
	margin: 2rem 0;
	font-size: 1rem;
}

.time span {
	font-size: 1rem;
}

.main-container {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.main-container > * {
	margin-top: 5rem;
	width: 40%;
}

.image-container {
	display: flex;
	justify-content: center;
}

.image-container img {
	width: 100%;
	max-width: 35rem;
	border-radius: 1rem;
	text-align: center;
}

/*Neon text*/
.neon-text {
  text-shadow: 
	0 0 7px var(--text-glow),
	0 0 10px var(--text-glow),
	0 0 18px var(--text-glow);
}

/*Spin Border*/
.time::before, .time::after, .border::before, .border::after {
	content: '';
	top: -50%;
	left: -50%;
	position: absolute;
	width: 5rem;
	height: 5rem;
	transform-origin: bottom right;
	z-index: 1;
	background: linear-gradient(0deg, transparent, transparent, var(--color-trim), var(--color-trim), var(--color-trim));

	animation: spin 4s linear infinite;
}

.time::before {
	animation-delay: -2s;
}

.time > * {
	position: absolute;
	inset: 0.25rem;
	border-radius: inherit;
	z-index: 2;
	background-color: var(--color-primary);
}

/*Text flow gradient*/
.animate-characters {
	text-transform: uppercase;
	background-image: linear-gradient(
		-225deg, 
		var(--font-color) 0%,
		var(--color-trim) 16%,
		var(--color-secondary) 33%,
		var(--color-secondary) 67%,
		var(--color-trim) 83%,
		var(--font-color) 100%
	);
	background-clip: border-box;
	background-size: 200% auto;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	animation: text-gradient 4s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes text-gradient {
	to {
		background-position: 200% center;
	}
}

@media only screen and (max-width: 900px) {
	.main-container {
		flex-direction: column;
	}

	.main-container > * {
		gap: 0;
		padding: 0 1rem;
		margin-top: 2rem;
		width: 100%;
	}

	.info-container {
		text-align: center;
	}

	.timer-container {
		justify-content: center;
		margin-bottom: 2rem;
	}

	.time:last-child {
		margin-right: 0;
	}

	.image-container img {
		width: 80%;
	}

	.time span {
		font-size: 0.85rem;
	}
}